
body{
  margin:0;
}
  a{
    color:black;
    text-decoration: none;

  }
  h1{
    font-size:25px;
    text-align:center;
    border-bottom:2px solid gray;
    margin:0px;
    padding:10px;
    font-family: "Courier New", Courier, monospace;
  }
  ol{
    background-image: url("http://poiemaweb.com/img/bg/dot.png");
    background-repeat: no-repeat;
    font-size:15px;
    border-right:2px solid gray;
    width:180px;
    margin:0px;
    padding:0px;
    font-family: "Courier New", Courier, monospace;
  }
  #grid{
    display: grid;
    grid-template-columns:220px 1fr;
  }
  #grid ol{
    padding-top:0px;
    padding-left:20px;
  }
  #grid #article{
    padding-top:0px;
    padding-left:10px;
    background-color: rgba(255, 0, 0, 0.2);
  }
  @media(max-width:800px){
    #grid{
      display: block;
    }
      ol{
      border-right:none;
      }
      h1{
      border-bottom:none;
      }
  }
